body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#container {
    width: 600px;
    height: 600px;
    border: 3px;
    border-color: beige;
    border-style: solid;
    
    /*sets the span(s) into a grid*/
    display: grid;
}

span {
    /*sets div(s) inside each span into a grid*/ 
    display: grid; 
}

span :hover {
    background-color: black;
}